{
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "script",
        "ecmaFeatures": {}
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-return-await":"warn",
        "require-await":"warn"
    },
    "env": {
        "es6": true
    }
}